#register {
	padding: 4px;
	background-image: url(/images/icons/people-formal.svg);
	background-size: cover;
	padding-bottom: 300px;
}
#registerContent {
	display: grid;
	grid-template-columns: 30% 40% 30%;
}
