.sidebar li{
    list-style-type: none;
}
.adminLinks a {
    display: block;
    border-left: 1px solid var(--fifth);
    padding: 9px 20px;
    margin: 4px auto;
    background: var(--light);
    box-shadow: 4px 0px 5px #c6c6c6;
    text-transform: uppercase;

}
.sidebar {
    padding-bottom: 100px;
    
}
.sidebar li:hover .subMenu{
    opacity: 1;
    visibility: visible;
}
.subMenu {
    visibility: hidden;
    position: absolute;
    margin-left: 170px;
    margin-top: -40px;
    opacity: 0;
    transition: opacity 0.7s linear;
    z-index: 990;
}

.subMenu a {
    background-color: var(--primary);
    color: var(--light);
    margin: 0;
    box-shadow: 0 0 10px -1px #212c4f;
    transition: background-color 0.4s linear;
}
.subMenu a:hover {
    color: var(--primary);
    background-color: var(--light);
    margin: 0;
    box-shadow: 0 0 10px -1px #212c4f;
}