.fileExists {
  text-align: left;
  color: red;
}

.dragDropZone {
text-align: center;
background: var(--fifth);
border-radius: 0.5rem;
box-shadow: 0 0 3px #666;
width: 400px;
margin: 100px auto 20px;
padding: 0;
}

.dragDropZone p {
  color: #FFF;
  padding: 50px;

}

.dragDropZone.insideDragArea {
  opacity: 0.7;
}
