.fileExists {
  text-align: left;
  color: red;
}

.dragDropZone {
  padding: 2rem;
  text-align: center;
  background: #07F;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #C0C0C0;
}

.dragDropZone p {
  color: #FFF;
}

.dragDropZone.insideDragArea {
  opacity: 0.7;
}
