
.headerSearch input{
width: 125px;
margin: 10px 3px;
background-image: url('/images/icons/s.svg');
background-repeat: no-repeat;
padding: 7px 3px 7px 33px;
background-color: #ffffff;
border-radius: 17px;
border: 1px solid #e7f7f0;
box-shadow: 0 0px 4px -2px #8f9595 inset;
background-position: center left;
font-size: 13px;
color: #8e888e;
}


.headerSearch input:focus{
    outline: 1px solid #8EA65B;
}