@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
* {
	margin: 0;
	padding: 0;
}
:root {
	--body-color: #666;
	--btn-bg: #e2bce8;
	--btn-color: rgb(153, 150, 150);
	--link-color: rgb(77, 80, 77);
	--link-bg: white;
	--primary: #055ba6;
	--secondory: #0367a6;
	--third: #73b2d9;
	--fourth: #0378a6;
	--fifth: #89c2d9;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;

	/* pallete */
	--p1: #1493ff;
	--p2: #1d365e;
	--p3: #2cb459;
	--p4: #ff3e30;
	--p5: #f7b529;

	/*pallete 2 for svg*/
	--pp1: #edcec2;
	--pp2: #f7f4dc;
	--pp3: #c3e0c9;
	--pp4: #97afcc;
	--pp5: #e2bce8;
}
body {
	font-family: 'roboto';
	color: var(--body-color);
	text-align: center;
	max-width: 1920px;
	margin: 0 auto;
	box-shadow: 0 0 22px 0px #d4c1c1;
}
.heading {
	color: #7c99a4;
	font-family: roboto;
	font-weight: 100;
	text-transform: uppercase;
	text-shadow: 0 0 2px #e2e3e3;
	width: max-content;
	padding: 5px 20px;
	margin: 50px auto;
}
.content {
	width: 100%;
}
.image-container {
	text-align: center;
	padding: 20px;
}
button,
.cursor-pointer {
	cursor: pointer;
}
/* starts form elements */
.form-group {
	padding: 15px 5px;
	margin: 12px auto;
	width: max-content;
}
input,
select {
	/* box-shadow: 0px 1px 0px 2px var(--pp1), 0px -1px 0px 2px var(--pp3),
		1px 0px 0px 2px var(--pp4), -1px 0px 0px 2px var(--pp4),
		0 0 5px 3px #c0c2c4; */
	background: var(--info);
	box-shadow: 0 10px 16px -7px #1d3531;
	padding: 10px 25px;
	border-radius: 0;
	color: var(--light);
	border: 1px solid var(--pp1);
	outline: 1px solid var(--pp2);
	transition: border 0.4s ease-in-out;
}

label,
input {
	display: block;
}
label {
	font-size: 0.7rem;
	visibility: hidden;
	opacity: 0;
	color: var(--light);
	width: max-content;
	text-align: left;
	padding: 5px 15px 5px;
	margin-top: -63px;
	position: absolute;
	background: var(--primary);
	border: 2px solid var(--primary);
	border-bottom: 0;
	margin-left: -3px;
	border-radius: 3px 3px 0px 0;
	transition: opacity 0.7s ease-in-out;
	text-transform: uppercase;
	transform: rotateX(90deg);
}
input:focus + label {
	visibility: visible;
	opacity: 1;
	animation: labels 0.7s linear forwards;
}
/* input:focus {
	border: 1px solid var(--primary);
	background: var(--primary);
	color: white;
	outline: 1px solid var(--primary);
} */

input:focus {
	background: var(--p2);
	color: white;
	outline: 1px solid var(--primary);
}
#submit {
	background: var(--primary);
	text-transform: uppercase;
	font-weight: bold;
	border: 0;
	outline: 0;
	font-size: 1.5rem;
	cursor: pointer;
}
@keyframes labels {
	0% {
		transform: rotateX(90deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}

/*ends form element */

a {
	text-decoration: none;
	color: var(--secondory);
}


/* messages */
main .error {
	color: #caa998;
	margin: 11px 0 0;
	display: block;
}
.edit-btn {
	font-size: .8rem;
	margin: 2px;
color: var(--third);
background: var(--light);
padding: 5px;
}
.delete-btn {
	margin: 2px;
font-size: .8rem;
color: #fff;
background: var(--danger);
padding: 5px;
text-align: right;
}
