@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
}
:root {
	--body-color: #666;
	--btn-bg: #e2bce8;
	--btn-color: rgb(153, 150, 150);
	--link-color: rgb(77, 80, 77);
	--link-bg: white;
	/* pallette */
	--primary: #055ba6;
	--secondory: #0367a6;
	--third: #73b2d9;
	--fourth: #0378a6;
	--fifth: #89c2d9;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
}
body {
	font-family: 'arimo';
	color: var(--body-color);
	text-align: center;
}
