#editor {
    padding-bottom: 900px;
    display: grid;
    grid-template-columns: 20% 80%;
}

#editor ul{
    margin-right: 30px;
    background: #dbece2;
}

#editor ul li {
    text-align: left;
}
#convert {
background: #283e80;
color: #fff;
border: 1px solid #82b9ac;
padding: 6px;
box-shadow: 0px 1px 2px 1px #2b594e;
margin: 15px 0 30px;
}